<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="associates" class="nav-link" routerLinkActive="active">Associates</a>
    </li>
    <li class="nav-item">
      <a routerLink="add" class="nav-link" routerLinkActive="active">Add Associate</a>
    </li>
    <li class="nav-item">
      <a routerLink="skills" class="nav-link" routerLinkActive="active">Skills</a>
    </li>
    <li class="nav-item">
      <a routerLink="skill" class="nav-link" routerLinkActive="active">Add Skill</a>
    </li>
    <li class="nav-item">
      <a routerLink="skill" class="nav-link" routerLinkActive="active">Search By Id</a>
    </li>
    <li class="nav-item">
      <a routerLink="associateName/:associateName" class="nav-link" routerLinkActive="active">Search By Name</a>
    </li>
    <li class="nav-item">
      <a routerLink="skill" class="nav-link" routerLinkActive="active">Search By EmailId</a>
    </li>
    <li class="nav-item">
      <a routerLink="skill" class="nav-link" routerLinkActive="active">Search By Mobile Number</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">Skills Tracker Application</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span>Developed by Abhilakshay</span>
  </div>
</footer>
