<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Skill List</h2>
  </div>
  <div class="panel-body" style="min-height: 99%; max-height: 99%;overflow-y: scroll;">
    <table class="table table-striped" style="width:99%; border: 1px solid black">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let skill of skills | async">
        <td>{{skill.skillId}}</td>
        <td>{{skill.skillName}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
