<h2>Associate Details</h2>

<hr/>
<div *ngIf="associate">
  <div>
    <label><b>Id: </b></label> {{ associate.associateId }}
  </div>
  <div>
    <label><b>Name: </b></label> {{ associate.associateName }}
  </div>
  <div>
    <label><b>Email Id: </b></label> {{ associate.emailId }}
  </div>
  <div>
    <label><b>Mobile Number: </b></label> {{ associate.mobileNumber }}
  </div>
  <div>
    <label><b>Skills: </b></label><a *ngFor="let obj of associate.skills" >{{obj | json}}</a>
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Associate List</button><br>
